.left-components{
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
}

.right-components{
    display: flex;
    flex-direction: row; 
    margin-left: auto;
    justify-content: flex-end;
} 

.mr-auto-home{
    display: flex;
    flex-direction: row; 
    margin-left: 20px;
    justify-content: flex-start;
}

.ml-auto-home{
    display: flex;
    flex-direction: row; 
    margin-left: auto;
    margin-right: 20px;
    justify-content: flex-end;
    /* align-items: right; */
}

@media (max-width: 800px) {
    .profile-logo{
        margin-left: auto;
    }
    .left-components{
        flex-direction: column;
    }
    .mr-auto-home{
        margin-left: auto;
    }
    .ml-auto-home{
        margin-right: auto;
    }
}

